body,html{
    width: 100%;
    height: 100%;
}
mobileDiv{
    display: none;
}
.navBar{
    background-color: #2965BE;
    margin: 0;
    width: 100% !important;
}
.container  {
    width: 100% !important;
    margin: 0px !important;
    padding: 0;
    max-width: 100% !important;
}
.icon{
    margin-left: 16px;
}
.btn-orange{
    margin-right: 16px;
    width: 130px
}
.divSearch{
    width: 100%;
    background-color: #fff;
}
.mobileDiv{
    display: none;
}
@media(max-width:575px){
    .col-sm-4{
        width: 33.33% !important;
    }
    .btn-orange{
        width: 100px !important;
        font-size: 12px;
    }
}
.categories{
    width: 90% !important;
    margin: auto;
}

.btn-primary{
    width: 100px !important;
    font-size: 12px;
}
.web-fields{
    display: none;
}
.mobile-fields{
    width: 78% !important;
}
.footer{
    display: none !important;
}
.needReg{
    display: flex !important;
}