body,html{
    width: 100%;
    height: 100%;
}
mobileDiv{
    display: none;
}
.navBar{
    background-color: #2965BE;
    margin: 0;
    width: 100% !important;
}
.container  {
    width: 100% !important;
    margin: 0px !important;
    padding: 0;
    max-width: 100% !important;
}
.icon{
    margin-left: 16px;
}
.btn-orange{
    margin-right: 16px;
    width: 130px
}
.divSearch{
    width: 100%;
    background-color: #fff;
}
.mobileDiv{
    display: none;
}
@media(max-width:575px){
    .col-sm-4{
        width: 33.33% !important;
    }
    .btn-orange{
        width: 100px !important;
        font-size: 12px;
    }
}
.categories{
    width: 90% !important;
    margin: auto;
}

.btn-primary{
    width: 100px !important;
    font-size: 12px;
}
.web-fields{
    display: none;
}
.mobile-fields{
    width: 78% !important;
}
.footer{
    display: none !important;
}
.needReg{
    display: flex !important;
}

.SubmitBtn{
    display: none;
}
.btn-orange{
    height: 80% !important;
}
.SubmitAdAdDivForMobile{
    height: 60px;
    width: 96%;
    margin: auto;
    background-color: #FF7A01;
    border: 2px solid #fff;
    border-radius: 6px;
    margin-top: 12px;
    cursor: pointer;
}
.SubmitAdAdDivForMobile:hover{
    opacity: 0.8;
    display: flex !important;
}
.toMyAccount{
    display: inline !important; 
}

input[type=file]{
    height: 44px !important;
}

input[type=file]::-webkit-file-upload-button{
    height: 30px !important
}
.m-auto{
    margin: auto !important;
}
@media (max-width:340px){
    input[type=file]{
        width: 240px !important;
    } 
}