.categories{
    width: 70%;
    float: left;
}
.needReg{
    display: none !important;
}
.toMyAccount{
    display: none;
}
.SubmitAdAdDivForMobile{display: none}

input[type=file]{
    background-color: #ff7a01;
    margin: 8px;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    height: 62px;
    border: 2px solid #ff7a01;
    border-radius: 8px
}
input[type=file]::-webkit-file-upload-button{
    border: 2px solid #fff;
    border-radius: 4px;
    height: 50px;
    background-color: #2F73D8;
    color: #fff;
}
input[type=file]::-webkit-file-upload-button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.myBTn{
    display: none !important;
}