.submitBtn{
    display: none
}
#loginBtn{
    display: none
}
@media(max-width:600px){
    .btnSmall{
        display: flex;
    }
    .adTitleDiv{
        width: 80% 
    }
    .btnsAd{
        display: none
    }
}

.btnSmall{
    border-radius: 2px;
    width: 100%;
    height: 50%;
}
.btnBig{
    display: none !important
}