
.head{
    width: 100%;
    height: 100px;
}
.border-grey{
    border: 1px solid rgb(230, 230, 230);
}
.slide{
    height: 400px;
}
.slideImg{
    width: 100%;
    height: 100%;
}
.mt-5{
    margin-top: 50px !important;
}

#slideImg{
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}
.btns{
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(226, 226, 226, 0.233);
    width: 80px;
    height: 60px;
    color: grey;
    cursor: pointer;
    font-size: 24px
}
.btns:hover{
    background-color: rgba(214, 214, 214, 0.479);
}
.col-sm-12{
    padding: 0 !important;
}

.btns{
    padding: 0 !important
}
.m-auto{
    margin: auto !important;
}
.chatWithThisUser{
    color: #0069D9;
}
.chatWithThisUser:hover{
    cursor: pointer;
    font-size: 14px
}
@media(max-width:992px){
    td{
        font-size: 12px
    }
    .ml-4{
        margin-left: 8px !important;
    }
    .userImg{
        margin-top: 2px;
        width: 32px
    }
    .ml-5{
        margin-left: 14px !important;
    }
}
.m-0 {
    margin: 0 !important
}
.discriptionDiv{
    padding: 0 !important;
    margin-top: 20px;
    border: 1px solid rgb(230, 230, 230);
    min-height: 140px;
}
.btns:active{
    outline-color: #FF7A01
}
.btns:focus{
    outline-color: #FF7A01
}
