.priceDiv{
    height: 20%;
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
}
.detailsDiv{
    height: 80%;
    width: 100%;

}
.userImg{
    width: 60px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 50%;
}
.userdetails{
    padding: 20px;
    margin: 10px
}
.user{
    margin-left: 12px;
    margin-top: 8px;
}
@media (max-width:992px){
    .userdetails{
        padding: 8px !important;
        margin: 4px
    }
    .user{
        margin-left: 4px;
        margin-top: 0px;
    }
    .userName{
        font-size: 12px
    }
    .chatWithThisUser{
        font-size: 10px
    }
    .contactWithUser{
        padding-left: 12px !important;
        margin: 4px !important
    }
    .cautions{
        margin: 4px !important
    }
    .phoneNum{
        padding-left: 8px !important;
    }
}
.phoneNum{
    padding-left: 48px;
}