.adImg{
    width: 30%;
    height: 96%;
    border: 0.4px solid rgb(218, 215, 215);
}
.mt-2{
    margin-top: 20px !important;
}
.logBtn{
    display: none !important;
}
.m-3{
    margin: 30px !important;
}
.result{
    border: 1px solid rgb(218, 215, 215);
    height: 140px;
}
.price{
    margin-top: 20px;
}
.result{
    cursor: pointer;
}  
.btn-submit{
    display: none
}
.result{
    height: 100px
}
.price{
    margin-top: 0;
}
.dImg{
    width: 100%;
    height: 90px;
}