.result{
    border: 1px solid rgb(218, 215, 215);
    height: 160px;
}
.adImg{
    width: 30%;
    height: 152px;
    border: 0.4px solid rgb(218, 215, 215);
}
.price{
    margin-top: 36px;
}
.result{
    cursor: pointer;
}
.img{
    width: 100%;
    height: 90px;
}