.logBtn , .submitBtn{
display: none
}
.adDeteils{
    height: 300px;
    width: 100%;
    margin-top: 40px;
}
.navBar{
    width:  100% !important
}
.sliderDiv{
    width: 92% !important;
}
@media (max-width : 380px){
    .sliderDiv{
        width: 92% !important;
    } 
}
.userdetails{
    margin-top: 10px;
}
.contactWithUser{
    width: 130px;
    margin-left: 0 !important;
}
.phoneNum{
    padding-left: 0px !important;
    margin-right: 0 !important;
    margin-left: 0px !important;
}
.cautions{
    margin-bottom: 40px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.EndDiv{
    margin-top: 100px;
    margin-bottom: 100px !important; 
}
.priceDiv{
    padding-top: 24px;
    padding-bottom: 24px 
}

.userdetails{
    padding-top: 24px;
    padding-bottom: 24px 
}
.discriptionDiv{
    margin-top: 150px !important
}

@media(max-width: 416px){
.wanaSale{
    font-size: 18px
}
.postAd{
    font-size: 14px
}
.arrow{
    height:  36px ;
}
}
body{
    overflow-x: hidden
}
@media (max-width: 274px){
    .wanaSale{
        font-size: 14px
    }
}

@media (max-width: 217px){
    .wanaSale{
        font-size: 12px
    }
}
.btn-heart{display: none !important;}
.w-100{
    width: 100% !important
}
.fnt-16{
    font-size: 16px
}
.btn-save{
    color: #fff;
    background-color: #2965BE;
}
.fa-heart:active{
    font-size: 16px;
    color: red
}